<!DOCTYPE html>
	<html lang="pt-br">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/noticias.css">
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1 class="classe">Bem vindo a página inicial</h1>
		<h1><a class="classe" href="http://localhost:3000/noticias" style="text-decoration: none">Noticias</a></h1>
		<h1><a class="classe" href="http://localhost:3000/noticia" style="text-decoration: none">Noticia</a></h1>
		<h1><a class="classe" href="http://localhost:3000/formulario_inclusao_noticia" style="text-decoration: none">Cadastrar Notícias</a></h1>
	
	</body>
</html>