<!DOCTYPE html>
	<html lang="pt-br">
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/noticias.css">
			<title>Portal de notícias</title>
		</head>
	<body>
<script>
	alert("Bem vindo, cadastre-se para receber mais informações via e-mail.")
 </script>

		<h1>Bem vindo a página inicial</h1>
		<h1>Noticias</h1>

	</body>
</html>